.dm-app .data-cloud .treeview {
    width: 18vw;
    height: 100%;
    overflow: auto;
    background-color: white;
}

.v-layout #app-header {
    color:rgb(28, 28, 28);
    background-color: white;
}
.v-layout #app-header .navbar-brand {
    color:rgb(28, 28, 28);
}
.v-layout #app-header   {
    --bs-navbar-hover-color: rgb(30, 30, 30);
    --bs-navbar-active-color: var(--bs-navbar-hover-color)
}
.MuiBadge-badge {
    top: 0.5rem!important;
}
.dm-app .data-cloud .v-body-nav {
    width: 22vw;
    max-width: none;
    height: calc(100vh - 120px);
    overflow: scroll;
    border-right: 1px solid rgb(248, 248, 248);
}

.dm-app .data-cloud .v-body-main {
    width: 76vw;
    max-width: none;
    height: calc(100vh - 120px);
    overflow-x: hidden;
    overflow-y: scroll;
    gap: 1rem;
}

.dm-app .data-cloud .shopping-card-item {
    width: 100%;
    padding: 1rem;
    border-bottom: 1px solid rgb(248, 248, 248);
}

.dm-app .data-cloud .shopping-card {
    height: 48vh;
    width: 100%;
    overflow: scroll
}

.dm-app .data-cloud .new-arrivals {
    width: 94%;
    margin: 0 auto;
    cursor: default;
 }

 .dm-app .data-cloud .new-arrivals .v-title{
    padding: 0.5rem;
 }

.dm-app .data-cloud .new-arrival {
   height: 160px;
   background-color: rgb(221, 239, 255);
   border: 1px solid rgb(244, 244, 244);
   cursor: pointer;
}

.dm-app .data-cloud .supplier {
    width: 50%;
    margin-top: 1rem;
    margin-left: .5rem;
}

.dm-app .data-cloud .v-filters-box {
     padding: 1rem;
    overflow: scroll;   
}

.dm-app .data-cloud .v-table {
    width: 100%;
    height: 100%;
    overflow: scroll;
}