.home-app {
    background-color: rgb(251, 251, 251);
    width: 100%;
    height: 100vh;
}

.home-app .home-content {
    padding: 1rem;
}

.home-app .home-page {
    width: 100%;
}

.home-app .viridium-logo {
    width: 30px;
    margin-top: -10px;
    margin-left: 55px;
    margin-right: 0px;
}

.home-app .navbar-brand {
    font-weight: 600;
}

.home-app .navbar {
    height: 72px;
}

.home-app .nav-link {
    font-weight: 400;
    margin-left: 25px;
    margin-right: 0px;
}

.home-app .layout-header-end {
    margin-right: 72px;
}

.home-app .layout-header-end .nav-link {
    border-radius: 18px;
    padding-left: 20px;
    padding-right: 20px;
    border: solid 1px rgb(26, 26, 26);
}

.home-app #nav-end-1 {
    background-color: #0042A5;
    border-color: #0042A5;
    color: white;
}

.home-app .home-name {
    text-align: left;
    font-weight: 600;
    font-size: 1.5em;
    padding-left: 0px;
}

.home-app .home-header a {
    text-decoration: none;
    display: inline-block;
    margin-left: 0.5em;
}

.home-app nav {
    background-color: rgba(0, 0, 0, 0) !important;
}

.home-app .v-button {
    background-color: white;
    color: black;
    font-size: 0.6em;
    width: 135px;
    font-weight: 600;
    padding: 0.4em;
    margin-top: 1em;
}

.home-app .home-title {
    padding: 1em 0em;
    box-shadow: 0px 2px 2px -2px rgba(241, 241, 241, 0.5);
}

.home-app .home-header {
    padding: 0px 42px;
}

.home-app .home-footer {
    color: white;
    width: 100%;
    height: 10vh;
    padding: 4vh;
    text-align: center;
    background-color: black;
}

.home-app .home-header {
    border-top: 1px solid white;
    padding: 1rem;
    font-size: larger;
    font-weight: bold;
}

.home-app .home-content {
    padding: 0.5rem 1.5rem;
}

.home-app .home-panel {
    padding: 0.8rem;
    margin: 0px 6px;
    border-radius: 0.5em;
}

.home-app .summary {
    padding: 0.5rem;
    height: 300px;

}

.home-app .about {
    border: 1px solid whitesmoke;
    padding: 0.5rem;
    height: 300px;
}

.home-app .toast {
    width: 100%;
}
