.home-app {
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("../../../public/resources/home-bg.jpg");
    background-size: 120%;
    color: rgb(237, 237, 237);
    width: 100%;
    height: 100vh;
    background-repeat: repeat-y;
}

.home-app .v-page-footer {
    color: white !important;
    background-color: rgba(0, 0, 0, 0.0) !important;
}

.home-app .home-content {
    padding: 1rem;
}

.home-app .home-page {
    width: 100%;
    height: 100vh;
}

.home-app .viridium-logo {
    width: 30px;
    margin-top: -10px;
    margin-left: 55px;
    margin-right: 0px;
}

.home-app .navbar-brand {
    font-weight: 600;
}

.home-app .navbar {
    height: 72px;
}

.home-app .nav-link {
    font-weight: 400;
    margin-left: 25px;
    margin-right: 0px;
}

.home-app .layout-header-end {
    margin-right: 72px;
}

.home-app .layout-header-end .nav-link {
    border: 1px white solid;
    border-radius: 18px;
    padding-left: 20px;
    padding-right: 20px;
}

.home-app #nav-end-1 {
    background-color: #0042A5;
    border-color: #0042A5;
}

.home-app .home-name {
    text-align: left;
    font-weight: 600;
    font-size: 1.5em;
    padding-left: 0px;
}

.home-app .home-header a {
    text-decoration: none;
    color: white;
    display: inline-block;
    margin-left: 0.5em;
}

.home-app .home-links {
    text-align: right;
    font-weight: 400;
    padding: 0.3em;
}

.home-app .home-content {
    color: white;
}

.home-app nav {
    background-color: rgba(0, 0, 0, 0) !important;
}

.home-app a {
    color: white !important;
}

.home-app .home-splash {
    filter: brightness(200%);
    height: 100%;
    width: 100%;
    padding-top: 9vh;
    padding-left: 10%;
    text-align: left;
    font-size: 4em;
    font-weight: 600;
}

.home-app .home-blurb {
    filter: brightness(200%);
    height: 100%;
    padding-top: 60vh;
    padding-left: 20%;
    padding-right: 5%;
    text-align: left;
    font-size: 1.8em;
    font-weight: 300;
}

.home-app .v-button {
    background-color: white;
    color: black;
    font-size: 0.6em;
    width: 135px;
    font-weight: 600;
    padding: 0.4em;
    margin-top: 1em;
}

.home-app .home-title {
    padding: 1em 0em;
    box-shadow: 0px 2px 2px -2px rgba(241, 241, 241, 0.5);
}

.home-app .home-header {
    padding: 0px 42px;
}

.home-app .home-footer {
    color: white;
    width: 100%;
    height: 10vh;
    padding: 4vh;
    text-align: center;
    background-color: black;
}

.home-app .home-header {
    padding: 1rem;
    font-size: larger;
    font-weight: bold;
    background-color: rgb(214, 214, 214);
}

.home-app .home-content {
    padding: 0.5rem 1.5rem;
}

.home-app .home-panel {
    padding: 0.8rem;
    margin: 0px 6px;
    background-color: aliceblue;
    border: 0px solid rgb(209, 157, 157);
    border-radius: 0.5em;
}

.home-app .summary {
    padding: 0.5rem;
    height: 300px;

}

.home-app .about {
    border: 1px solid whitesmoke;
    padding: 0.5rem;
    height: 300px;
}

.home-app .toast {
    width: 100%;
}