 
.ghg-app .tab-content {
    overflow: scroll;
}
.ghg-app .wizard-form-row {
    margin-bottom: .5em;
}
.ghg-app .v-page-body { 
    margin: 2em 10% 0em 10%;
    border: 1px solid darkblue;
    border-radius: 12px;
    overflow: hidden;
}



.ghg-app .connector-config-form {
    margin-top: 6px;
    padding: 12px;
    background-color: rgb(247, 247, 247);
    min-height: 260px;
}

.ghg-app .connector-config-form-field {
    margin-bottom: 4px;
}

.ghg-app .connector-config-form-btns {
    text-align: right;
}

.ghg-app .toast {
    position: relative;
    border-radius: 0px;
    margin-top: 1px;
}

.ghg-app .toast-header {
    height: 3rem;
}
.ghg-app .v-form-row {
    padding: 2px 10px;
}
.ghg-app .toast-body {
    height: 60vh;
    overflow: scroll;
    padding: 0.5em;
}
.ghg-app .v-panel {
    margin-top: 0px;
}
.ghg-app .v-actions {
    position: absolute;
    bottom: 0px;
    width: 100%;
    padding: 10px;
    background-color: rgb(240, 240, 240);
}

.ghg-app .preview-container {
    margin-top: 1em;
    padding: 0.5em;
    max-height: 200px;
    overflow-y: scroll;
}

.ghg-app .v-table .v-table-container {
    overflow-x: scroll;
    max-height: 600px;
}

.ghg-app .big-table {
    padding: 0px;
}

.ghg-app .v-container {
    padding: 1em;
    background-color: rgb(255, 255, 255);
    line-height: 1.8em;
}

.ghg-app .v-container-header {
    padding: 0.5em;
    font-weight: bold;
    background-color: #f1f1f1;
}