.offcanvas {
    --bs-offcanvas-width: 50vw;
}

.ghg-app .tab-content {
    overflow: scroll;
}

.ghg-app .wizard-form-row {
    margin-bottom: .5em;
}

.ghg-app .v-page-body {
    margin: 1rem auto 0rem auto;
    overflow: hidden;
    width: 90vw;
}

.ghg-app .v-select-company {
    width: 400px;
}

.v-message {
    padding: 2em;
}

.ghg-app .connector-config-form {
    margin-top: 6px;
    padding: 12px;
    background-color: rgb(247, 247, 247);
    min-height: 260px;
}

.ghg-app .connector-config-form-field {
    margin-bottom: 4px;
}

.ghg-app .connector-config-form-btns {
    text-align: right;
}

.ghg-app .toast {
    position: relative;
    border-radius: 0px;
    margin-top: 1px;
}


.ghg-app .v-form-row {
    padding: 2px 10px;
}

.ghg-app .toast-body {
    height: 60vh;
    overflow: scroll;
    padding: 0.5em;
}

.ghg-app .v-panel {
    margin-top: 0px;
    padding: 1em;
    background-color: aliceblue;
    border-radius: 3px;
    border: 0px blue solid;
}

.ghg-app .v-panel .v-hint {
    padding: 1em;
    background-color: aliceblue;
    border-radius: 3px;
    font-size: 1.5em;
}

.ghg-app .v-panel .row {
    padding: .5em;
    border-bottom: 1px rgb(57, 113, 165) solid;
}

.ghg-app .v-panel .row .col {
    padding: .5em;
    font-size: 1.5em;
    white-space: nowrap;
    overflow: scroll;
}

.ghg-app .v-panel .v-metrics {
    background-color: azure;
    color: red;
}

.ghg-app .v-panel {
    padding: .2em;
}

.ghg-app .v-actions {
    position: absolute;
    bottom: 0px;
    width: 100%;
    padding: 10px;
    background-color: rgb(240, 240, 240);
}

.ghg-app .preview-container {
    margin-top: 1em;
    padding: 0.5em;
    max-height: 200px;
    overflow-y: scroll;
}

.ghg-app .v-table .v-table-container {
    overflow-x: scroll;
    max-height: 600px;
}

.ghg-app .big-table {
    padding: 0px;
}

.ghg-app .v-container {
    background-color: rgb(255, 255, 255);
}

.ghg-app .v-container-header {
    padding: 0.5em;
    font-weight: bold;
    background-color: #f1f1f1;
}