
.knowledge-app .v-page-body {
    width: 100%;
    display: flex;
}
.knowledge-app .v-help-container {
    font-size: 1.2rem;
}
.knowledge-app .v-help-content {
    padding: 1em;
    background-color: rgb(254, 255, 255);
    border: 1px solid oldlace;   
    line-height: 1.5rem;
    overflow: scroll;
    height: calc(100vh - 120px);
}

.knowledge-app .v-help-content h1{
    font-size: 2rem;
    margin-bottom: 1em;
    border-bottom: 1px solid rgb(222, 222, 222);
}

.knowledge-app .v-help-content h2{
    font-size: 1.5rem;
    margin-bottom: .5em;
    margin-top: 1em;
}

.knowledge-app .v-help-content li{
    padding: 0.2em;
}

.knowledge-app .v-help-content ul{
    padding: 1em;
    text-decoration: none;
    margin-left: 1em;
}

.knowledge-app .v-help-content ul.a {list-style-type: circle;}

.knowledge-app .v-list .v-list-item.selected {
    background-color: rgb(241, 241, 241);
}