.knowledge-app {
    font-size: 1.2em;
}

.knowledge-app .list-group-item {
    padding: .5em;
    border-bottom: 0.5px solid rgb(229, 229, 229);
}

.knowledge-app .v-page-body {
    width: 100%;
    display: flex;
    max-height: 90vh;
    overflow: scroll;
}

.knowledge-app .v-body-main {
     overflow:revert;
}