.knowledge-app {
    font-size: 1.0em;
}

.knowledge-app .v-page-body {
    width: 100%;
    display: flex;
    max-height: 90vh;
    overflow: scroll;
}

.knowledge-app .v-body-main {
     padding: 0px;
     border-left:solid 1px gray;
}

.knowledge-app .v-layout .v-body-nav {
    padding: 0px;
}

.knowledge-app .v-header {
    padding: 0.5em;
}