.inventory-app .selected-questions {
    padding: 0.5em;
    margin: 1em;
    background-color: rgb(244, 244, 244);
    width: 95%;
    overflow: hidden;
    border-radius: 0.2em;
}

.inventory-app .selected-question {
    padding: 0.5em;
    margin-bottom: 0.2rem;
    color: rgb(134, 133, 133);
    border-bottom: 1px solid rgb(217, 215, 215);
}

.inventory-app .search-box {
    width: 50%;
}

.inventory-app .analytic-table {
    border: 1px rgb(130, 130, 130) solid;
    border-radius: 1em;
}

.inventory-app .analytic-table .analytic-header {
    padding: 1.5em 0.2rem;
    background-color: lightgray;
}

.inventory-app .analytic-table .analytic-col-0 {
    width: 25%;
}

.inventory-app .component-action {
    margin: 0.5rem;
}

.inventory-app .form-btn {
    padding: 0.2em;
    text-align: right;
}

.inventory-app .mode-form-btn {
    padding: 1em;
}

.inventory-app .mode-form-btn button {
    padding: .5em;
    width: 100%;
}

.inventory-app .tab-content {
    padding: 10px;
}

.inventory-app .v-summary {
    padding: 0.5em 1.8em;
}

.inventory-app .inventory-label {
    padding: 1.0em;
}

.inventory-app .v-panel-content {
    height: 300px;
    overflow-y: scroll;
    padding: 1rem 1.5rem;
    border: 1px solid gainsboro;
    border-radius: 0.2em;
}