.layout .navbar-brand {
    margin-left: 1.2em;
}

.layout .nav-link {

    margin-right: 0.0em;
}

.layout .home-body {
    display: flex;
    gap: 0.5rem;
}

.layout .layout-header-end {
    margin-right: 1em;
}

.layout .home-body-nav {
    flex: 30%;
    max-width: 300px;
    background-color: rgba(255, 255, 255, 0.889);
    height: calc(100vh - 110px);
    box-shadow: 3px 3px 3px rgb(241, 241, 241);
}

.layout .home-body-nav a {
    text-decoration: none;
}

.layout .home-body-main {
    flex: 70%;
    overflow: scroll;
}

.layout .home-footer {
    padding: 12px;
    background-color: rgb(240, 238, 238);
    position: fixed;
    bottom: 0;
    font-size: small;
    color: rgb(144, 144, 144);
    width: 100%;
}

.layout .viridium-logo {
    width: 36px;
    margin-right: 4px;
}

.layout .nav-icon {
    width: 1.4rem;
    margin-right: 4px;
}

.layout .search-input {
    min-width: 24rem;
    border: 1px solid lightblue;
    padding: 0.2rem 0.4rem;
    border-radius: 0.2rem;
}

.layout .list-group-item {
    border: 0px;
}

.layout ul {
    padding-inline-start: 4px;
}
.layout .application-header {
    background-color: rgb(214, 214, 214);
    margin-bottom: 4px;
}

.layout .notifications-icon {
    background-color:rgba(255, 0, 0, 0.802);
    color :white;
    padding:2px;
    margin-left: .2rem;

}
.layout .actions-menu {
    margin-right: 1em;
}

.layout .toast {
    width: 100%;
}

.layout .toast-header {
    
}
.layout .home-body-nav .toast {
    margin-bottom: 1rem;
}


.layout .offcanvas {
    width:30%;
}

.layout .offcanvas .form-help-text {
    padding: 1.0rem;
    color: rgb(151, 151, 151);
    background-color: rgb(245, 245, 245);
    margin: 0px 0px 1.0rem 0px;
}

.layout .offcanvas .form-actions {
    padding: 0.5em;
    background-color: rgb(236, 236, 236);
}

.layout .offcanvas .form-action {
    display: flex;
    margin-left: auto;
}