.security-app {
    flex-wrap: nowrap;
    overflow-x: hidden;
    margin: auto;
}

.security-app a {
    color: rgb(97, 97, 97);
    font-size: medium;
}

.security-app a:hover {
    color: rgb(60, 66, 249);
    font-size: medium;
}

.security-app .v-notification-meta {
    padding: 1em;
}

.security-app .v-button {
    display: inline-block;
    padding: 5px;
    margin: 12px;
}

.security-app .v-form {
    width: 600px;
    margin-top: 10%;
    margin-bottom: 5em;
    margin-right: 5em;
}

.security-app .v-signout-main {
    margin: auto;
    width: 60%;
    margin-top:2em;
    font-size: 3em;
    padding: 4em;
    min-height: 10em;
    background-color: rgb(251, 251, 251);
    border-radius: 1em;
}