.security-app {
    flex-wrap: nowrap;
    overflow-x: hidden;
    margin: auto;
}
.security-app a {
    color: rgb(97, 97, 97);
    font-size: medium;
}
.security-app a:hover {
    color: rgb(60, 66, 249);
    font-size: medium;
}

.v-notification-body {
    padding: 1em;
    font-size: medium;
    background-color: rgb(255, 255, 255);
    min-height: 20em;
    overflow-y: scroll;
}

.v-notification-meta {
    padding: 1em;
}

.v-button {
    display: inline-block;
    padding: 5px;
    margin: 12px;
}