.security-app {
    flex-wrap: nowrap;
    overflow-x: hidden;
    margin: auto;
}
.security-app a {
    color: rgb(97, 97, 97);
    font-size: medium;
}
.security-app a:hover {
    color: rgb(60, 66, 249);
    font-size: medium;
}