.schema-app {
    flex-wrap: nowrap;
    overflow-x: hidden;
}

.schema-app .v-body-nav {
    min-width: 200px;
}

.schema-app .component-title {
    padding: 12px;
    font-size: 20px;
    font-weight: bold;
}

.schema-app .entity-value {
    padding: 2px 20px;
}

.schema-app .field-label {
    padding: 0.5rem;
    height: 2rem;
    background-color: azure;
}

.schema-app .field-value {
    padding: 0.5rem;
    height: 2rem;
    border-bottom: 1px solid azure;
}

.schema-app .component-actions {
    font-size: 14px;
    padding: 16px;
    float: right;
}

.schema-app .component-action {
    padding: 6px;
    display: inline-block;
    cursor: pointer;
}

.schema-app .toast {
    display: inline-block;
    margin: 4px;
}

.schema-app .panel-header {
    background-color: rgb(214, 230, 241);
    border-radius: 0.0rem;
}

.schema-app .panel-body {
    padding: .4rem;
    overflow: scroll;
}

.schema-app .panel-container {
    border: 1px rgb(214, 230, 241) solid;
    border-radius: 0px;
    margin-top: 4px;
    margin-bottom: 8px;
    overflow: hidden;
}

.sfOption {
    text-decoration: none;
    display: inline-block;
    width: 100%;
    height: 2rem;
    margin: 1px 1px;
}

.sfSelect {
    display: block;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 400px;
    z-index: 100;
    padding: 1em;
    background-color: blanchedalmond;
}

.offcanvas.offcanvas-end {
    width: 50%;
    max-width: 600px;
}